body{
    background-color: #FFFFFF;
    color: black;
}
li{
    list-style: none;
    float:left;
    padding:15px 10px;
    margin-top: -10px;
    font-size:30px;
    color:#7E22CE;
    margin-left: 35px;
}
.logo{
    display:flex;
    float:left;
    margin-top:5px;
    font-size:50px;
    color:#7E22CE;

}
.Nav{
    display:flex;
    float:left;
    position: sticky;
}
.act{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    text-decoration:inherit;
    
}

a:hover
{
    text-decoration: underline;
}
button{
    background-color: #7E22CE;
    color:white;
    width:140px;
    height:40px;
    border-radius: 0.5rem;
    font-size:30px;
    text-align: center; 
}
button:hover{
    background-color: #ffffff;
    color:#7E22CE;
}
.company{
    color:#7E22CE;
}
.auto-type{
    color:#7E22CE;
}
.Nav-bar{
    position: absolute;
    top:0px;   
}
.container{
    position: absolute;
    top:500px;
    left:450px;
    font-weight: 2000;
    font-size: 50px;
}
#land{
    height: 50%;
    width:50%;
    position: absolute;
    right: 100px;
    top:100px;

}
.back{
    opacity: 0.5;
}
